body{
  overflow-x: auto;
  overflow-y: auto;
}

nav{
  display: inline;
}
.leftnav, .rightnav, .leftfoot, .rightfoot{
  display: inline-block;
  color: white;
  padding: 8px 18px;
  text-decoration: none;
  height: 24px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.leftnav{
  float: left;
}
.rightnav{
  float: right;
}

.leftnav a{
  padding: 0px 7px;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(0,0,0,0.75);
  position: relative;
  top: 5px;
  right: 5px;
}
.rightnav a{
  padding: 0px 7px;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(0,0,0,0.75);
  position: relative;
  top: 5px;
  left: 5px;
}

a:hover{
  text-decoration: underline;
}

.rightnav button{
  background-color: rgb(66, 133, 244);
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: middle;
  margin-left: 10px;
}

.rightnav img{
  vertical-align: middle;
  max-height: 80%;
  max-width: 100%;
  opacity: .55;
}

.main{
  margin: auto;
  padding-top: 82px;
  text-align: center;
  width: 100%;
}

.logo{
  margin: auto;
  padding-top: 109px;
  padding-bottom: 20px;
}
.logo img{
  height: 95px;
  width: 280px;
}

.searchbar{
  width: 580px;
  height: 40px;
  box-shadow: 1px 1px 1px 1px rgb(200, 200, 200, 0.85);
  position: relative;
  margin: auto;
  padding-top: 10px;
}

.searchbar img{
  width: 15px;
  position: absolute;
  top: 30%;
  right: 3%;
}

.searchbar input{
  width: 90%;
  height: 34px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: block;
  padding-left: 10px;
  border: none;
}
.buttons{
  padding-top: 28px;
}
.buttons button{
  color: rgb(117, 117, 117);
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  padding: 0px 16px;
  border-width: 1px;
  border-color: rgb(242,242,242);
  border-style: solid;
  background-color: rgb(242,242,242);
  margin: 4px;
}
.buttons button:hover{
  border-style: solid;
  border-idth: 1px;
  border-radius: 2px;
  border-color: rgb(200,200,200);
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.leftfoot{
  position: relative;
  padding-left: 0px;
  bottom: 10px;
}

.rightfoot{
  float: right;
  position: relative;
  right: 25px;
  bottom: 10px;
}

.leftfoot a, .rightfoot a{
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: rgb(102, 102, 102);
  line-height: 40px;
  padding-left: 27px;
}

.topfoot {
  padding-left: 27px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: rgb(102, 102, 102);
}
.bottomfoot{
  background-color: #eaecee;

}

.leftfoot a:hover, .rightfoot a:hover{
  text-decoration: underline;
}
